
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            margin: 0px;
            padding: 0px;
            background-color: transparent;
            min-width: 1024px;
        }
        
        .silex-id-1478366444112-0 {
            width: 1024px;
            top: 15px;
            left: 151px;
            padding: 0px;
            min-height: 170px;
            background-color: transparent;
            opacity: 1;
        }
        
        .silex-id-1520621544776-11 {
            width: 600px;
            min-height: 90px;
            top: 50px;
            left: 10px;
        }
        
        .silex-id-1520632880561-51 {
            width: 500px;
            background-color: rgb(255, 255, 255);
            min-height: 90px;
            top: 50px;
            left: 690px;
        }
        
        .silex-id-1520635153929-57 {
            width: 100px;
            top: 60px;
            left: 10px;
            min-height: 30px;
            background-color: transparent;
            border-radius: 10px 10px 0 0;
            opacity: 0.9;
        }
        
        .silex-id-1520635736361-58 {
            width: 100px;
            top: 60px;
            left: 135px;
            min-height: 30px;
            background-color: transparent;
            border-radius: 10px 10px 0 0;
            opacity: 0.9;
        }
        
        .silex-id-1520636851336-192 {
            width: 100px;
            top: 60px;
            left: 260px;
            min-height: 30px;
            background-color: transparent;
            border-radius: 10px 10px 0 0;
            opacity: 0.9;
        }
        
        .silex-id-1520637157230-199 {
            width: 110px;
            top: 60px;
            left: 385px;
            min-height: 30px;
            background-color: transparent;
            border-radius: 10px 10px 0 0;
            opacity: 0.9;
        }
        
        .silex-id-1474394621033-3 {
            top: 5px;
            padding: 0px;
            margin: 0px;
            display: flex;
            min-width: 1024px;
            background-color: rgba(207, 207, 207, 1);
        }
        
        .silex-id-1474394621032-2 {
            width: 1024px;
            top: 16px;
            opacity: 1;
            min-height: 1900px;
            background-color: rgba(68, 127, 176, 0.6901960784313725);
        }
        
        .silex-id-1520626552938-32 {
            width: 15%;
            top: 0px;
            left: 0px;
            padding: 0px;
            background-color: rgba(69, 129, 180, 1);
            min-height: 1900px;
        }
        
        .silex-id-1520628846074-38 {
            width: 100px;
            min-height: 40px;
            top: 219px;
            left: 22.5px;
        }
        
        .silex-id-1520628984418-40 {
            width: 100px;
            min-height: 25px;
            top: 300px;
            left: 10px;
        }
        
        .silex-id-1520628878873-39 {
            width: 85%;
            top: 350px;
            left: 10px;
            min-height: 50px;
        }
        
        .silex-id-1520630119349-45 {
            width: 90%;
            top: 425px;
            left: 10px;
            min-height: 160px;
        }
        
        .silex-id-1520630504993-46 {
            width: 100%;
            top: 2px;
            left: 1px;
            background-color: transparent;
            min-height: 50px;
        }
        
        .silex-id-1520630915232-49 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 125px;
        }
        
        .silex-id-1520630647876-47 {
            width: 40px;
            top: 5px;
            left: 15px;
            min-height: 40px;
        }
        
        .silex-id-1520630800462-48 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 70px;
        }
        
        .silex-id-1520702475000-3 {
            width: 135px;
            min-height: 144px;
            top: 70px;
            left: 22.5px;
        }
        
        .silex-id-1520629447535-44 {
            width: 25px;
            min-height: 23px;
            top: 297px;
            left: 77px;
        }
        
        .silex-id-1520702126898-2 {
            width: 85%;
            top: 0px;
            left: 180px;
            background-color: transparent;
            min-height: 1900px;
        }
        
        .silex-id-1520622977885-18 {
            width: 65%;
            top: 1078px;
            left: 22px;
            min-height: 150px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520622636492-17 {
            width: 400px;
            min-height: 29px;
            top: 1026px;
            left: 24px;
        }
        
        .silex-id-1520624897220-22 {
            width: 65%;
            top: 1243px;
            left: 20px;
            min-height: 165px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520624603745-19 {
            width: 65%;
            top: 1420px;
            left: 21px;
            min-height: 140px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520624694015-20 {
            width: 65%;
            top: 1574px;
            left: 18px;
            min-height: 140px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520624773943-21 {
            width: 65%;
            top: 1733px;
            left: 15px;
            min-height: 140px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520619317125-10 {
            width: 65%;
            top: 95px;
            left: 15px;
            min-height: 265px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520621756388-14 {
            width: 65%;
            top: 380px;
            left: 15px;
            min-height: 415px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520622283163-15 {
            width: 65%;
            top: 813px;
            left: 23px;
            min-height: 100px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520625836124-28 {
            width: 30%;
            left: 697px;
            background-color: transparent;
            min-height: 1900px;
            top: 95px;
        }
        
        .silex-id-1520626869557-34 {
            width: 100%;
            top: 465px;
            min-height: 160px;
            margin-left: 0px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520626961781-35 {
            width: 100%;
            top: 870px;
            min-height: 130px;
            margin-left: 0px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520631839654-50 {
            width: 100%;
            top: 650px;
            min-height: 200px;
            margin-left: 0px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520626752614-33 {
            width: 100%;
            top: 310px;
            min-height: 130px;
            margin-left: 0px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
            left: 0px;
        }
        
        .silex-id-1520626113011-30 {
            width: 100%;
            top: 1px;
            min-height: 285px;
            margin-left: 0px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520619250777-9 {
            width: 500px;
            min-height: 35px;
            top: 40px;
            left: 15px;
        }
        
        .silex-id-1520701495949-1 {
            width: 200px;
            min-height: 35px;
            top: 40px;
            left: 697px;
        }
        
        .silex-id-1520720195001-36 {
            width: 95%;
            top: 95px;
            left: 15px;
            min-height: 240px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520720195047-37 {
            width: 95%;
            top: 360px;
            left: 15px;
            min-height: 330px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520720195064-38 {
            width: 95%;
            top: 705px;
            left: 15px;
            min-height: 100px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520720954921-40 {
            width: 15%;
            top: 0px;
            left: 0px;
            padding: 0px;
            background-color: rgba(69, 129, 180, 1);
            min-height: 1200px;
        }
        
        .silex-id-1520720954922-41 {
            width: 100px;
            min-height: 40px;
            top: 219px;
            left: 22.5px;
        }
        
        .silex-id-1520720954923-42 {
            width: 100px;
            min-height: 25px;
            top: 300px;
            left: 10px;
        }
        
        .silex-id-1520720954923-43 {
            width: 85%;
            top: 350px;
            left: 10px;
            min-height: 50px;
        }
        
        .silex-id-1520720954924-44 {
            width: 90%;
            top: 425px;
            left: 10px;
            min-height: 160px;
        }
        
        .silex-id-1520720954924-45 {
            width: 100%;
            top: 2px;
            left: 1px;
            background-color: transparent;
            min-height: 50px;
        }
        
        .silex-id-1520720954924-46 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 125px;
        }
        
        .silex-id-1520720954925-47 {
            width: 40px;
            top: 5px;
            left: 15px;
            min-height: 40px;
        }
        
        .silex-id-1520720954925-48 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 70px;
        }
        
        .silex-id-1520720954926-49 {
            width: 135px;
            min-height: 144px;
            top: 70px;
            left: 22.5px;
        }
        
        .silex-id-1520720954927-50 {
            width: 25px;
            min-height: 23px;
            top: 297px;
            left: 77px;
        }
        
        .silex-id-1520760244753-6 {
            width: 85%;
            top: 0px;
            left: 180px;
            background-color: transparent;
            min-height: 1200px;
        }
        
        .silex-id-1520760301790-7 {
            width: 600px;
            min-height: 29px;
            top: 40px;
            left: 15px;
        }
        
        .silex-id-1520760347933-9 {
            width: 95%;
            top: 350px;
            left: 15px;
            min-height: 330px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520760347937-10 {
            width: 95%;
            top: 705px;
            left: 20px;
            min-height: 100px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1520760347915-8 {
            width: 95%;
            top: 95px;
            left: 15px;
            min-height: 230px;
            border-radius: 10px 10px 10px 10px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
            min-width: 1200px;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
            top: 100px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 29px;
            left: 430px;
        }
        
        .silex-id-1520636175838-164 {
            top: 1685.3333740234375px;
            left: NaNpx;
            background-color: transparent;
            min-width: 1200px;
        }
        
        .silex-id-1520636175838-165 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
            top: 100px;
        }
        
        .silex-id-1520636175839-166 {
            min-height: 53px;
            width: 349px;
            top: 29px;
            left: 430px;
        }
        
        .silex-id-1520760082970-3 {
            min-height: 100px;
        }
        
        .silex-id-1520760082969-2 {
            min-height: 100px;
        }
    